form {
    display: block;
    justify-content: center;
    background-color: #A9F4DB;
    width: 400px;
    margin: 0 auto;
    padding: 24px;
    border: 3px solid #c0e300;
    font-family: Arial, Helvetica, sans-serif;
}
label {
    display: block;
    margin-bottom: 16px;
    color: grey;
}
input {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    padding: 12px;
    font-size: 16px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: forestgreen;
    color: aliceblue;
    margin: 0;
    padding: 16px;
    font-size: 18px;
    border: 0;
}
textarea {
    max-width: 394px;
    max-height: 180px;
    margin-bottom: 16px;
    font-size: 17px;
}
.div1, .div2, .div4, .div5, .div6 {
    padding: 10px;
    box-sizing: border-box;
}
.div1 {
    position: relative;
    z-index: 5;
    background-color: rgba(126, 252, 0, 0.600);
    border: 2px dashed green;   
    width: 520px;
    height: 80px;
}
.div2 {
    position: relative;
    top: 200px;
    z-index: 2;
    background-color: rgba(126, 252, 0);
    border: 2px dashed green;
    width: 520px;
    height: 80px;
}
.div3 {
    position: absolute;
    top: 20px;
    left: 170px;
    z-index: 4;
    background-color: rgb(246, 92, 123);
    border: 2px dashed red;
    width: 370px;
    height: 320px;
    padding: 20px;
    box-sizing: border-box;
}
.div4 {
    position: relative;
    top: 15px;
    z-index: 6;
    background-color: rgba(222, 184, 135, 0.600);
    border: 2px dashed saddlebrown;
    width: 100%;
    height: 80px;
}
.div5 {
    position: relative;
    top: 100px;
    z-index: 1;
    background-color: burlywood;
    border: 2px dashed saddlebrown;
    width: 100%;
    height: 80px;
}
.div6 {
    position: absolute;
    top: 25px;
    right: 40px;
    z-index: 3;
    background-color: rgba(100, 148, 237, 0.600);
    border: 2px dashed blue;
    width: 165px;
    height: 245px;
    padding-top: 110px;
}