.container {
    background-color: rgb(71, 71, 71);
    width: 500px;
    margin: 200px auto;
    padding: 60px 5px 5px 5px;
    border-radius: 10px;
}
.estilo {
    background-color: yellow;
    height: 80px;
    margin: 5px;
    border-radius: 5px;
}
.flex {
    display: flex;
}
.caja0 {
    width: 65%;
}
.caja1 {
    width: 35%;
}
.caja2 {
    background-color: yellow;
    width: 50%;
    height: 170px;
    margin: 5px;
    border-radius: 5px;
}
.col {
    flex-direction: column;
    width: 50%;
}
.caja3 {
    margin-bottom: 10px;
}
.estilo1 {
    background-color: cyan;
    height: 60px;
    margin: 5px;
    border-radius: 5px;
}
.caja5 {
    width: 33%;
}